<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-fc5x05JrPH1Y67pyxmVw_awxLhNYNGE</string>
	<key>GCM_SENDER_ID</key>
	<string>883466079545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>qa.app.sabaa</string>
	<key>PROJECT_ID</key>
	<string>sabaa-app-fcakwd12</string>
	<key>STORAGE_BUCKET</key>
	<string>sabaa-app-fcakwd12.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883466079545:ios:1af52ce7f3bb9215286ce8</string>
</dict>
</plist>